<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>SK</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>HKC</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>D</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>3</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>衣帽间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>S1</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>lights</key>
						<array>
							<dict>
								<key>id</key>
								<string>1</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
							<dict>
								<key>id</key>
								<string>2</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
							<dict>
								<key>id</key>
								<string>3</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
							<dict>
								<key>id</key>
								<string>4</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
							<dict>
								<key>id</key>
								<string>5</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
							<dict>
								<key>id</key>
								<string>6</string>
								<key>name_zh</key>
								<string>玄关灯</string>
								<key>name_en</key>
								<string>xuan guan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>客厅</string>
						<key>lights</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>3</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室卫生间</string>
						<key>lights</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>4</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>客厅卫生间</string>
						<key>lights</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>S2</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>S3</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>总统套</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>夫人房</string>
		<key>controllers</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name_en</key>
				<string>lights</string>
				<key>name_zh</key>
				<string>灯光</string>
				<key>icon</key>
				<string>lights.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
						<key>switchs</key>
						<array/>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
						<key>switches</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name_en</key>
				<string>aircon</string>
				<key>name_zh</key>
				<string>空调</string>
				<key>icon</key>
				<string>aircon.png</string>
				<key>rooms</key>
				<array>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>name_en</key>
						<string>bedroom</string>
						<key>name_zh</key>
						<string>卧室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>name_en</key>
						<string>toilet</string>
						<key>name_zh</key>
						<string>卫生间</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name_en</key>
				<string>service</string>
				<key>name_zh</key>
				<string>服务</string>
				<key>icon</key>
				<string>service.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name_en</key>
				<string>setting</string>
				<key>name_zh</key>
				<string>设置</string>
				<key>icon</key>
				<string>setting.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
